*, *:after, *:before {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    height: 100%;
    font-family: sans-serif;
    background-image: url(img/pattern-bg.jpg);
    background-size: 100%;

}

body {
    max-width: 100%;

}


.top-nav {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-button {
    width: 18%;
    height: 0;
    padding-top: 5.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.about-full {
    background-image: url(img/about-fullsprite.png);
    padding-bottom: 55.5%;

}

.buy-full {
    background-image: url(img/buy-fullsprite);
    padding-bottom: 55.15%;

}

.inspiration-full {
    background-image: url(img/inspiration-fullsprite);
    padding-bottom: 56.85%;


}

.cooking-full {
    background-image: url(img/cooking-fullsprite);
    padding-bottom: 57.3%;

}

.full-logo {
    border: 1px solid red;
}

.full-logo img {
    max-height: 25%;
}

.nav-link {
    width: 100%;
    height: 0;
    background-position: 0 0;
    background-size: 100%;
    display:block;
}

.nav-link:hover {
    background-position-y: 50%;
}